* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    --color-primary: #EADDCA;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white:#fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #6F4E37;
    --color-bg1: #966919;
    --color-bg2:  #C2B280;

    --container-width-lg: 76%;
    --container-width-lg: 90%;
    --container-width-lg: 94%;

    --transition: all 400ms ease;

}
































